<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alexander Izosenkov</title>
</head>
<body>
    <h1>Модель, которая определит уровень <br> токсичности вашего предложения</h1>
    <h2>Напиши предложение в поле</h2>

<form method="POST">
    <input name="text">
    <input type="submit">
</form>

<h3> Уровень токсичности: {{ level }} из 100 </h3> <br>

NB Для оценки уровня токсичности я обучил логистическую регрессию, <br> которая выдает вероятность того, что представленный текст относится <br> к токсичному классу. Для работы модели я токенизирую, 
лемматизирую и стеммирую текст, <br> предварительно из него удалив стоп-слова. <br> Дальше текст векторизуется TF-IDF векторизатором, и матрица подается в модель.

</body>
</html> 
