<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Alexander Izosenkov </title>
        <meta name="description" content="Рассказываю про себя и свои исследования"/>
        <meta name="keywords" content="Изосенков, Александр Изосенков, Александр Александрович Изосенков, тематическое моделирование, BERT"/>
        <meta name="author" content="<author>" />
        <meta name="copyright" content="<author>" />
        <meta name="robots" content="index"/>
        <meta name="robots" content="follow"/>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">


        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}"/>
   
    </head>



<body>
<div class="container">
    <section class="blue">
    <section class="header">
      <h1 class="title">Alexander Izosenkov</h1>
        <h2 class="title">HSE Undergraduate student</h2>
    </section>
    </section>

    <div class="row">
        <h3> Моя курсовая работа </h3>
        <h4>
            <i>Токсичность онлайн-коммуникации как индикатор политических расколов в российских социальных медиа:
                тематическое моделирование дискуссий в социальной сети ВКонтакте в 2023 г. </i>
        </h4>

    </div>

    <div class="row">
        <section class="normaltext">
        <div class="two-thirds column">
            <p> В то время как в подавляющем большинстве научных публикаций по теме основной единицей анализа являются
                публикации в иностранных социальных сетях
                (Twitter, Facebook [принадлежит компании Meta, признанной экстремистской на территории РФ]),
                существует недостаток знания о характеристиках онлайн коммуникации в российских социальных медиа, формах
            и закономерностях пользовательской активности в них.</p>
        </div>
        <div class="one-third column">
        <p> Я исследую дискуссии в социальной сети ВКонтакте, являющейся самой популярной на
            территории РФ, применяя сразу несколько моделей машинного обучения. </p>
            </div>
        </section>



        </div>


    <div class="row">
        <h6> Я пришел к выводу, что существует взаимная положительгая связь между наличием политических расколов
            в постах социальных медиа и уровнем токсичности онлайн-коммуникации в тредах под ними</h6>
    </div>

    <div class="row">
    <h4> Как это работает? </h4>
        <p class="normaltext">Я спрарсил все посты и комментарии к ним из нескольких новостных сообществ ВК. Дальше для
            каждого поста была посчитана метрика токсичности треда комментариев
            (как среднее токсичностей каждого комментария) с помощью вероятностей, выдаваемой логистической регрессией,
        которую я предварительно обучил на наборе токсичных предложений из свободнодоступного источника. Весь корпус
            постов был проанализирован LDA моделью, на основании выхода которой были получены вероятности принадлежности
        конкретного поста к определенной теме. После чего вероятности принадлежности регрессируются на уровень токсичности
        комментариев поста. Тематики, которые были близки к политическому, показали статистически значимые зависимости.</p>
    </div>

    <div class="row">
    <h4> Попробовать модель, которая определяет уровень токсичности </h4>
  </div>

    <div class="row">
        <div class="seven columns">
            <form method="POST">
                <input class="u-full-width" name="text" placeholder="Да что же вы натворили!">
                <input class="button-primary" type="submit" value="Оценить">
            </form>
        </div>
        <div class="four columns">
        <h5> Уровень Вашей токсичности: <br> <b> {{ level }} из 100 </b> </h5>
        </div>

  </div>

</div>
</body>
</html> 
